.top-color-bar {
    height: 11px;
    background: url(images/top-color-bar.jpg);
    background-size: contain;
    display: block;
    width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.color-bar {
    height: 17px;
    background: url(images/top-color-bar.jpg);
    background-size: contain;
    display: block;
    width: 100%;
}

#bottom-color-bar {
    height: 23px;
    background: url(images/top-color-bar.jpg);
    background-size: contain;
    display: block;
    width: 100%;
}

.top-nav-ul {
    display: table;
    padding: 0;
    position: relative;
    z-index: 500;
}

.top-nav-ul li {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    /* position: relative; */
    z-index: 100;
}

.logo {
    /* height: 45px; */
    width: 440px;
}

.right-nav-icon {
    height: 35px;
}

.footer-cart-icon {
    /* height: 70px; */
    width: 43px;
}

.footer-cart-icon-span {
    margin: 10px 0 0 0 !important;
}

.right-nav li {
    text-align: center;
    font-size: 14px;
    margin: 0 7px;
    display: inline-block;
    position: relative;
}

.right-nav li a {
    color: #000;
    display: block;
    position: relative;
    z-index: 300;
    text-decoration: none;
    padding: 0 0 0 0;
    transition: 0.2s all;
}

.right-nav li a:hover {
    opacity: 0.85;
}

#search-input,
#search-input-2,
#mobile-search-input {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px !important;
    background: url(images/search-icon.png) no-repeat 0 center;
    background-size: auto 65%;
    padding: 5px 15px 5px 30px;
}

#search-input:focus,
#search-input-2:focus,
#mobile-search-input:focus {
    box-shadow: none;
}

.hot-search-ul {
    display: table;
    margin: 0;
    padding: 0;
    color: #808285;
    position: relative;
    top: 1px;
}

.hot-search-ul li {
    display: table-cell;
}

.hot-search-ul li {
    border-right: 1px solid #808285;
    line-height: 1;
}

.hot-search-ul li:last-child {
    border: none;
}

.hot-search-ul li a {
    text-decoration: none;
    color: #808285;
    padding: 0 4px;
    transition: 0.2s all;
}

.hot-search-ul li a:hover {
    opacity: 0.85;
}

.hot-search-div {
    font-size: 14px;
    color: #808285;
}

.search-nav {
    width: 275px;
    position: relative;
}

.flag {
    width: 48px;
}

.categories-div {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.categories-div ul {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}

.categories-div li {
    display: table-cell;
    list-style-type: none;
    /* display: inline-block; */
    text-align: center;
}

.categories-div li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
}

.categories-div li a.active {
    color: #ffb100;
}

.right-nav {
    padding: 0;
}

.right-nav .submenu,
.search-nav .submenu {
    position: absolute;
    border: 1px solid #000;
    padding: 0;
    border-radius: 18px;
    background: #fff;
    width: max-content;
    z-index: 2000;
    padding: 5px 5px 10px 5px;
    /* left: -15px; */
    top: 70px;
    min-width: 120px;
    /* min-width: 270px; */
    display: none;
    z-index: 100;
    max-width: 200px;
}

.search-nav .submenu {
    top: 78px;
    left: 0;
}

.search-nav .submenu a {
    text-decoration: none;
    color: #000;
}

.right-nav .submenu ul,
.search-nav .submenu ul {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 100;
    border-bottom: 1px solid #c7c5c5;
    /* margin: 0 19px 0 21px; */
    max-height: 313px;
    overflow: scroll;
}

.right-nav .submenu table td {}

.right-nav .submenu a {
    padding: 0;
}

.mobile-search .tri {
    display: block;
    /* width: 20px;
    height: 20px; */
    /* border: 1px solid #000; */
    margin: -20px 0 0 28px;
    /* background: #fff; */
    /* transform: rotate(45deg); */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2f2f2f;
    position: absolute;
    z-index: -10000;
    /* background: url(./images/tri-bg.png) no-repeat; */
    /* background-size: contain; */
}

.right-nav .submenu .tri,
.search-nav .submenu .tri {
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2f2f2f;
    /* width: 20px;
    height: 20px; */
    width: 0;
    height: 0;
    margin: -15px 0 0 0;
    position: relative;
    z-index: -10000;
    /* background: url(./images/tri-bg.png) no-repeat; */
    /* background-size: contain; */
}

.search-nav .submenu .tri {
    left: 20px;
}

.right-nav .submenu .bg,
.search-nav .submenu .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #fff; */
    margin: 0;
    z-index: -10;
}

.right-nav .submenu li,
.search-nav .submenu li {
    display: block;
    text-align: left;
    font-size: 13px;
    /* text-indent: 10px; */
    margin: 10px 11px;
}

.right-nav .submenu .cart-row {
    margin: 0 0 10px 0;
}

.right-nav .submenu .cart-row table {
    width: 100%;
}

.right-nav-li {
    width: 275px;
}

.market-txt {}

.video-player-div {
    display: block;
    height: 238px;
    width: 356px;
    /* background-color: #f2b944; */
}

.foot-bg {
    background: url(./images/yellow-foot-bg.png) no-repeat #f2b944;
    background-size: cover;
    position: relative;
}

.banner-div {
    /* margin: -21px 0 0 0; */
    margin: 0 !important;
}

.small-banner-col-div {}

.video-player-col-div {
    float: right;
    position: relative;
    z-index: 200;
}

.small-banner {
    width: 677px;
    /* width: 100%; */
}

.color-white {
    color: #fff;
}

.middle-container {
    min-height: 80vh;
    background: rgb(247, 247, 247);
    padding-bottom: 3rem;
}

.black-line {
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
}

.middle-content {
    /* margin: -21px 0 0 0; */
    margin: 0;
}

.breadcrumb {
    display: inline-block;
    width: 100%;
}

.breadcrumb a {
    color: #000;
    text-decoration: none;
}

.breadcrumb .reg-icon {
    height: 30px;
}

.breadcrumb span {
    display: inline-block;
    /* margin: 0 10px 0 10px; */
}

.breadcrumb .arrow {
    margin: 0 9px;
}

.login-form-div {
    display: block;
    width: 90%;
    background: #fff;
    max-width: 500px;
    border: 1px solid #000;
    margin: 0 auto;
}

.login-form-div table {
    width: 100%;
    margin: 0 auto;
}

.login-form-div table td {
    text-align: center;
}

.login-form-div a {
    text-decoration: underline;
    color: #000;
}

.login-form-div table td a {
    display: block;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    opacity: 0.5;
}

.login-form-div table td a.active {
    opacity: 1;
    text-decoration: underline;
}

.form-wrapper {
    width: 90%;
    margin: 10px auto;
}

.form-wrapper .note {
    font-size: 14px;
    color: #a40000;
}

label[for='coupon-code'] {
    line-height: 38px;
}

.error {
    font-size: 14px;
    color: #a40000;
    display: none;
}

.form-wrapper input {
    /* margin: 0px 0 0 0; */
}

.form-wrapper .login-btn,
.form-button {
    display: block;
    background: #ffb300;
    color: #fff;
    width: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: 0.2s all;
}

.ver-code {
    width: 200px;
}

.form-button:hover {
    color: #fff;
    opacity: 0.85;
}

.profile-content-div .form-button,
.favorite-content-div .form-button {
    /* padding-bottom: 0.3rem; */
    /* padding-top: 0.3rem; */
    font-size: 15px;
}

.form-reg,
.form-login {
    display: none;
}

ul.no-dot li {
    list-style-type: none;
}

.reg-method-a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.profile-side-menu,
.favorite-side-menu {}

.profile-side-menu li,
.favorite-side-menu li {
    margin: 0 0 10px 0;
}

.profile-side-menu h1,
.favorite-side-menu h1 {
    font-size: 20px;
}

.profile-side-menu ul,
.favorite-side-menu ul {
    padding: 0;
    margin: 0;
}

.profile-side-menu ul a,
.favorite-side-menu ul a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    text-decoration: none !important;
}

.selected-address-div {
    border: 1px solid #000;
    padding: 20px;
    /* margin: 3px 0 0 0; */
    line-height: 1.7;
    position: relative;
}

.address-div {
    border: 1px solid rgb(211, 211, 211);
    padding: 20px;
    /* margin: 3px 0 0 0; */
    line-height: 1.7;
    position: relative;
}

.profile-subpage-title,
.favorite-subpage-title {
    font-size: 20px;
    font-weight: bold;
}

.receiver-name {
    font-size: 18px;
}

.address-div-btn-img {
    height: 25px;
}

.address-div-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.address-div-btn-a {
    margin: 0 0 0 5px;
}

.new-address-container {
    border: 1px solid #000;
    background: #fff;
}

.share-cart-container {
    display: none;
    border: 1px solid #000;
    max-width: 498px;
    margin: 0 auto;
    padding-bottom: 30px !important;
    position: fixed;
    top: 50%;
    z-index: 4000;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.share-cart-container form {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.share-cart-container img {
    height: 25px;
}

.share-cart-container form input {
    color: #75777a;
}

.share-cart-container .social-a {
    display: inline-block;
    margin: 0 5px;
}

.new-address-container table {
    width: 90%;
    margin: 0 auto;
}

.new-address-container table td {
    padding: 5px 0 5px 0;
}

.new-address-container table input,
.new-address-container table select {
    /* margin: 10px 0 0 0; */
}

.new-address-title {
    font-size: 26px;
    position: relative;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

.new-address-title .close-btn {
    display: block;
    width: 29px;
    height: 29px;
    background: url(./images/close-btn.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
}

.quick-product-view .close-btn {
    display: block;
    width: 29px;
    height: 29px !important;
    background: url(./images/close-btn.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    right: 20px;
    height: 100%;
    top: 35px;
}

.mobile-menu-div .close-btn {
    display: block;
    width: 29px;
    height: 29px;
    background: url(./images/close-btn.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    right: 6px;
    height: 15px;
    top: 30px;
}

.gender-button {
    display: inline-block;
    background: #ccd1d5;
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
}

.gender-button:hover {
    color: #fff;
}

.gender-button.active {
    display: inline-block;
    background: #ffb300;
    color: #fff;
}

.set-default-address-btn {
    width: 140px;
    /* padding: 0 10px; */
}

.set-default-address-btn:hover {
    color: #fff;
}

.new-address-form {
    width: 90%;
    margin: 0 auto;
}

.form-check-input {
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin: 0 5px 0 0 !important;
}

form label {
    padding: 0.375rem 0 0.375rem 0;
    /* line-height: 2.3; */
}


/* .new-address-form input,
.new-address-form select {
    margin: 0 0 10px 0;
} */

input,
select {
    margin: 0 0 10px 0;
}

.profile-side-menu ul a.active,
.favorite-side-menu ul a.active {
    text-decoration: underline;
}

.pagination ul {
    margin: 0 auto;
    padding: 0;
}

.pagination ul li {
    list-style-type: none;
    display: inline-block;
    margin: 3px 7px;
}

.pagination ul li a {
    text-decoration: none;
    color: #000;
}

.hover-layer {
    background: #fff;
    z-index: 10;
    height: 100%;
    display: none;
    position: relative;
}

.hover-layer ul {
    display: table-cell;
    margin: 19px 0 0 0 !important;
    padding: 0;
    vertical-align: middle;
}

.hover-layer ul li {
    float: left;
    text-align: center;
    display: block;
    margin: 0 0 10px;
    width: auto !important;
    border: none;
    width: 100% !important;
}

.hover-layer-btn {
    background: #ffb300;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    transition: 0.2s all;
    position: relative;
    z-index: 100;
    width: auto !important;
}

.want-to-buy-row .hover-layer-btn {
    font-size: 12px !important;
    line-height: 1.9;
}

.heart.hover-layer-btn {
    background: #3dd1b4;
}

.hover-layer-btn:hover {
    opacity: 0.85;
}

.hover-layer-btn img {
    height: 20px;
    width: auto !important;
}

.hover-layer-btn:hover {
    color: #fff;
}

.eye-icon {
    position: relative;
    top: -2px;
    left: -3px;
}

.show-items-div {
    line-height: 2.4;
    /* padding: 0 0 0 10%; */
}

.breadcrumb .reg-icon {
    display: none;
}

.mobile-logo-a {
    position: relative;
    z-index: 100;
}

.product-list-sort-ul {
    margin: 20px 0 20px 0 !important;
    display: none;
}

.product-list-sort-ul li {
    margin: 0 10px;
}

.product-list-sort-ul li a {
    text-decoration: underline;
    color: #000;
}

.category-tag {
    margin: 0;
}

.category-tag a {
    color: #808285;
    border: 1px solid #808285;
    text-decoration: none;
    /* padding: 0px 10px; */
    padding: 2px;
    transition: 0.2s all;
    font-size: 16px;
}

.category-tag a:hover {
    opacity: 0.85;
}

.product-thumbnail-ul {
    background: #fff;
}

.product-thumbnail-ul li {
    width: 18%;
}

.product-thumbnail-ul li img {
    width: 100%;
}

.product-detail-table {}

.product-detail-table td {}

.product-detail-table .final-price .s {
    font-size: 24px;
}

.product-detail-table .final-price .b {
    font-size: 32px;
}

.quantity-ui {
    height: 24px;
    width: 108px;
    text-align: center;
}

.quantity-ui td {
    padding: 0 0 0 0 !important;
    /* vertical-align: top; */
}

.product-detail-table .final-price {
    position: relative;
    top: 0px;
    line-height: 32px;
}

.quantity-ui td input {
    margin: 0;
    text-align: center;
    border: none;
    width: 60px;
    -webkit-appearance: borderless-attachment;
}

.quantity-ui td input:focus {
    border: none;
    outline: none;
}

.quantity-ui td {
    border: 1px solid #000;
    padding: 0 !important;
}

.quantity-ui .quantity-btn {
    width: 24px;
    cursor: pointer;
}

.less-quantity-label {
    position: absolute;
    display: block;
    right: 30px;
    padding: 0 10px;
    background: #a40103;
    color: #fff;
}

.mobile-less-quantity-label.less-quantity-label {
    right: auto;
    display: none;
    opacity: 0;
}

.product-detail-info-col {
    margin: -40px 0 0 0;
    padding: 0 30px;
}

.product-detail-right-col {
    color: #fff;
    font-size: 14px;
}

.product-detail-right-col .video-img-div {
    width: 90%;
}

.mobile-product-slide {
    display: none !important;
}

h1 {
    font-size: 20px;
}

.share-cart-a {
    text-decoration: none;
    color: #000;
    transition: 0.2s all;
}

.share-cart-a:hover {
    color: #000;
    opacity: 0.85;
}

.share-cart-icon {
    height: 16px;
    position: relative;
    top: -2px;
    margin: 0 0 0 5px;
}

.cart-product-list .product-foto {
    width: 90px;
}

.cart-product-list .product-name-li {
    width: 358px;
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
    vertical-align: middle;
}

.cart-product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.product-name-li .mobile-icon-ul {
    position: absolute;
    right: 0;
    display: inline-block;
    width: auto;
}

.product-name-li .mobile-icon-ul li {
    padding: 0;
    margin: 0 0 0 5px;
}

.product-name-li .mobile-icon-ul img {
    height: 20px;
}

.cart-product-list ul {
    padding: 0;
    margin: 0;
    display: table;
}

.cart-product-list ul li {
    display: table-cell;
    vertical-align: top;
    padding: 0 34px 0 0;
}

.cart-product-list ul li:last-child {
    padding: 0;
}

.reset-cal-btn {
    background: #006cba;
    color: #fff;
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    /* font-size: 14px; */
    /* height: 0px; */
    /* padding: 2px; */
    padding: 7px 15px 7px 15px;
    transition: 0.2s all;
}

.reset-cal-btn:hover {
    color: #fff;
    opacity: 0.85;
}

.more-dot-btn {
    height: 6px;
}

.more-dot-btn-a {
    display: block;
    height: 27px;
    width: 27px;
    background: url(./images/more-dot-btn.png) no-repeat center center transparent;
    background-size: 24px auto;
    border: none;
    padding: 15px;
    position: relative;
    z-index: 200;
    background-color: transparent;
}

.more-dot-btn-a:hover {
    /* background-color: #fff; */
    /* background: url(./images/more-dot-btn.png) no-repeat center center #fff; */
}

.order-information-title {
    text-align: center;
    font-size: 20px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid;
}


/* .more-dot-btn-a:hover {
    border: 1px solid #000;
} */

.more-dot-btn-a-wrapper {
    top: 29px;
    position: absolute;
}

.more-dot-btn-a-wrapper .white-bg {
    position: absolute;
    top: 31px;
    left: 1px;
    /* display: none; */
    width: 30px;
    /* background: #fff; */
    height: 10px;
    z-index: 200;
}

.more-dot-btn-a-wrapper .white-bg-li {
    position: absolute;
    width: 34px;
    right: -1px;
    background: #fff;
    top: -30px;
    height: 30px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.more-dot-btn-a-wrapper ul {
    position: absolute;
    top: 31px;
    display: none;
    left: -100px;
    width: 132px;
    border: 1px solid;
    text-align: center;
    padding: 5px 0 10px 0;
    z-index: 100;
    background: #fff;
}

.more-dot-btn-a-wrapper ul li {
    display: block;
    padding: 0;
    font-size: 16px;
    padding: 10px 0 10px 0;
}

.more-dot-btn-a-wrapper ul li a {
    text-decoration: none;
    color: #000;
}

.order-information-div {
    border: 1px solid #000;
    background: #fff;
    padding: 10px 26px 20px 26px;
}

.order-information-div table {
    margin: 20px 0 0 0;
}

.order-information-div table td {
    padding: 5px 0 5px 0;
}

.more-dot-btn-a-wrapper-li {
    width: 29px;
}

.quantity-ui-div {
    width: 108px;
}

.cart-product-list .price-div {
    position: relative;
}

.cart-product-list .mobile-icon-ul {
    display: none;
}

.cart-delivery-address-div {
    border: 1px solid #fff;
    width: 100%;
}

.cart-delivery-address-a.active .cart-delivery-address-div {
    border: 1px solid #000;
}

.cart-delivery-address-a.active .circle {
    border: 1px solid #ffa400;
    border-radius: 20px;
    background: #ffa400;
}

.cart-delivery-address-div .circle {
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 3px auto;
}

.cart-delivery-address-div .circle-td {
    width: 60px;
    text-align: center;
    padding: 20px 10px 0 10px;
}

.cart-delivery-address-div td {
    vertical-align: top;
    padding: 20px 20px 20px 0;
    line-height: 1.7;
}

.cart-delivery-address-a {
    text-decoration: none;
    color: #000;
    display: block;
}

.cart-delivery-address-a:hover {
    color: #000;
}

.payment-method-ul {
    padding: 0;
    margin: 0;
}

.payment-method-ul li {
    list-style-type: none;
}

.form-check-input:checked {
    background-color: #ffa400;
    border-color: #ffa400;
}

.form-check-input:checked[type='radio'] {
    background-image: none;
}

.reg-icon-span {
    display: inline-block;
    left: -1px;
}

.cart-item-no {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #e60000;
    color: #fff;
    border-radius: 14px;
    font-size: 9px;
    top: -3px;
    right: -8px;
}

.cart-item-no span {
    line-height: 15px;
}

.footer-cart-icon-span .cart-item-no {
    width: 18px;
    height: 18px;
    top: -6px;
}

.footer-cart-icon-span .cart-item-no span {
    font-size: 10px;
    line-height: 18px;
}

.mobile-search-submenu {
    list-style-type: none;
}

.mobile-search {
    display: none;
}

.favorite-title {
    font-size: 20px;
}

.favorite-title-div {
    border-bottom: 6px solid #ffa400;
    padding: 0 0 5px 0;
}

.product-list-ul li .form-check-input {
    /* position: absolute;
    top: 0;
    left: 0; */
}

.product-div-1 .yellow-share-icon {
    height: 18px;
}

.product-div-1 .bin-btn {
    height: 23px;
}

.product-div-1 .small-icon-div {}

.product-div-1 .small-icon-div a {
    display: inline-block;
    margin: 0 0 0 3px;
}

#check-fav-option-2 {
    margin: 0 5px 0 10px !important;
}

.favorite-content-div .cart-btn.mobile {
    display: none;
}

h4 {
    font-weight: 600;
}

h4 span {}

.nation-submenu .nation-submenu-flag-title-li {
    width: auto !important;
}

.categories-div-wrapper.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 2000;
}

.preview-video-bottom-a {
    height: 18px;
}

h1.product-name {
    font-size: 25px;
}

.campaign-url {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.order-information-div-col-1 {
    width: 135px;
}

.mobile .top-menu-div {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 200;
    top: 0;
}

.mobile .middle-container {
    /* padding: 78px 0 0 0; */
    /* margin: 0; */
}

.slick-dots {
    z-index: 100;
    bottom: -30px !important;
}

.banner-container {
    margin: 0 !important;
}

.banner-container .slick-dots {
    bottom: 6px !important;
}

.banner-container .slick-dots li {
    margin: 0 2px;
}

.banner-container .slick-dots li button:before {
    font-size: 9px;
    opacity: 1;
    color: white;
    /* -webkit-font-smoothing: antialiased; */
}


/* .back-to-top-div {
    display: block;
    width: 100%;
    height: 40px;
    bottom: 10%;
    text-align: center;
} */

.back-to-top-btn {
    /* position: fixed; */
    width: 133px;
    height: 40px;
    background: hsl(0deg 0% 0% / 70%);
    color: #fff;
    /* display: block; */
    margin: 0 auto;
    line-height: 40px;
    border-radius: 18px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 4%;
    text-align: center;
    z-index: 1000;
    display: none;
    transition: 0.2s all;
}

.back-to-top-btn:hover {
    color: #fff;
    opacity: 0.85;
}

.sticky-cart-btn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background: rgb(255 255 255 / 90%);
    /* display: initial; */
    border-radius: 18px;
    width: 85px;
    height: 85px;
    font-size: 14px;
    border: 1px solid #0060b6;
}

.lightbox-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.sticky.categories-div-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid;
    background: #fff;
    z-index: 1000;
    display: none;
    /* display: block; */
}

.feature-txt {
    color: #a40000;
}

.quick-product-view {
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px !important;
    z-index: 4000;
    display: none;
}

.quick-product-view .social-a img {
    height: 25px;
}

.quick-product-view .product-detail-info-col {
    padding: 0;
}

.mobile-table-div .product-img-wrapper {
    margin: 10px 0 0 0;
}

.msg-box {
    position: fixed;
    top: 50%;
    display: none;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4000;
    background: #fff;
    max-width: 500px !important;
    /* min-height: 200px; */
    font-size: 20px;
}

.new-address-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4000;
    background: #fff;
    max-width: 700px !important;
    min-height: 200px;
    width: 90%;
    display: none;
}

.gender-list-div {
    display: table-cell;
}

.favorite-li-mr {
    margin-right: 8px !important;
}

.blue {
    color: #026ab4;
}

.video-img-div.mobile {
    display: none;
}

.video-player-col-div.mobile {
    display: none;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1280px;
    }
}

.small-banner-video-ul {
    display: table;
    margin: 0;
    padding: 0;
}

.small-banner-video-ul li {
    display: table-cell;
    list-style-type: none;
    vertical-align: bottom;
    padding: 0 10px;
}

.small-banner-container-wrapper {
    margin: -100px 0 0 0;
}

.video-title {
    color: #fff;
    font-size: 20px;
}

.video-title:hover {
    color: #fff;
}

.play-btn-div {
    background: url(./images/play-btn.png) center center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-size: 49px;
    width: 100%;
    height: 100%;
}

.ribbon-subtitle {
    display: inline-block;
    height: 36px;
    background: #0d88a9;
    width: 65%;
    margin: 48px auto 0 auto;
    max-width: 708px;
    font-size: 20px;
    color: #fff;
    line-height: 1.8;
}

.ribbon-subtitle.ribbon-subtitle-1 {
    margin: 48px 0 0 0;
}

.ribbon-subtitle:hover {
    color: #fff;
}

.ribbon-subtitle .subtitle-left-ribbon {
    position: absolute;
    left: -60px;
    width: 55px;
    height: 34px;
    bottom: -15px;
}

.ribbon-subtitle .subtitle-right-ribbon {
    position: absolute;
    right: -60px;
    width: 55px;
    height: 34px;
    bottom: -15px;
}

.recommend-rate {
    font-size: 15px;
}

.recommend-rate .pt {
    height: 15px;
    margin: 0px 3px 0 0;
    float: left;
    position: relative;
    top: 2px;
}

.product-div-1 {
    /* background: #fff; */
    padding: 0 15px;
    position: relative;
    text-align: left;
    border: 8px solid #af7c14;
}

.foot-bg .product-div-1 {
    padding: 25px;
    background: #fff;
}

.limited-quantity {
    color: #a40000;
    font-size: 13px;
}

.favorite-content-div .limited-quantity {
    font-size: unset;
}

.red {
    color: #a40000;
}

.cart-btn {
    /* background: #006cba url(./images/cart-icon2.png) no-repeat 57px center; */
    background: #006cba;
    background-size: auto 48%;
    color: #fff;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: 0.2s all;
}

.use-coupon-btn {
    background: #ffb300;
    background-size: auto 48%;
    color: #fff;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: 0.2s all;
}

.use-coupon-btn:hover {
    color: #fff;
    opacity: 0.85;
}

.want.cart-btn {
    background: #00d5b3;
}

.backorder.cart-btn {
    background: #737578;
}

.cart-btn img {
    height: 18px;
    position: relative;
    top: -1px;
}

.cart-btn-2 img {
    height: 13px;
    position: relative;
    top: -1px;
    width: auto !important;
}

.cart-btn:hover {
    color: #fff;
    opacity: 0.85;
}

.product-div-1 .product-name {
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-name-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-div-1 .product-set,
.product-set {
    font-size: 14px;
    color: #808285;
}

.old-price {
    text-decoration: line-through;
    font-size: 13px;
}

.final-price {
    color: #a40000;
    font-weight: bold;
}

.final-price .s {
    font-size: 19px;
}

.final-price .b {
    font-size: 23px;
}

.want-to-buy-title {
    font-size: 30px;
    display: table;
    width: 100%;
}

.want-to-buy-title-txt {
    display: table-cell;
    vertical-align: middle;
}

.cate-foto-2-div {
    /* display: table-cell; */
    display: none;
}

.want-to-buy-product-img {
    width: 185px;
}

.want-to-buy-row {
    border-top: 6px solid;
    border-bottom: 6px solid;
    background: #fff;
}

.want-to-buy-row ul {
    margin: 0;
    padding: 0;
}

.want-to-buy-row ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

.orange-border {
    border-color: #ffb300;
}

.green-border {
    border-color: #00d4b1;
}

.blue-border {
    border-color: #006cba;
}

.want-to-buy-row .right-div {
    width: 80%;
    margin: 0 0 0 20px;
    max-width: 1024px;
    vertical-align: middle;
}

.want-to-buy-row .right-div img {
    width: 100px;
}

.product-div-2 {
    text-align: left;
    font-size: 14px;
}

.cart-btn-2 {
    /* background: #ffb300 url(./images/cart-icon2.png) no-repeat 11px center; */
    background: #006cba;
    background-size: auto 48%;
    color: #fff;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    display: table;
    width: 88%;
    text-align: center;
    margin: 0 auto;
    transition: 0.2s all;
    font-size: 16px;
}

.cart-btn-2:hover {
    color: #fff;
    opacity: 0.85;
}

.footer-div {
    background: #000;
    color: #fff;
}

.footer-menu-1 {
    padding: 0;
    display: table;
    height: 18px;
    float: left;
}

.footer-menu-1 li {
    list-style-type: none;
    display: table-cell;
    border-right: 1px solid #fff;
    line-height: 1;
}

.footer-menu-1 li:last-child {
    /* list-style-type: none; */
    /* display: table-cell; */
    /* border-right: 1px solid #fff; */
    /* line-height: 1; */
    border: none;
}

.footer-menu-1 li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
}

.footer-menu-1 li:first-child a {
    padding: 0 10px 0 0;
}

.footer-menu-2 {
    padding: 0;
    display: table;
    float: right;
    margin: -7px 0 0 0;
}

.footer-menu-2 li a {
    text-decoration: none;
    color: #fff;
}

.footer-menu-2 li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    list-style-type: none;
}

.fb-icon2,
.ig-icon2 {
    height: 24px;
}

.white-line {
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
}

.copyright-txt {
    font-size: 12px;
}

.submenu-product-img {
    width: 40px;
}

.cart-ul {
    padding: 0 14px 0 0px !important;
    margin: 0 7px !important;
}

.cart-ul-ul {
    min-width: 250px !important;
}

.cart-ul-ul .total-amount {
    font-size: 15px;
    text-align: right !important;
    margin: 10px 10px 0 10px;
}

.go-to-cart-btn-li {
    margin: 15px 10px 0 10px !important;
}

.go-to-cart-btn-li a {
    display: block;
    background: #ffa400;
    color: #fff !important;
    text-align: center;
    padding: 5px 10px !important;
}

.nation-a {
    transition: 0.2s all;
}

.nation-a:hover {
    opacity: 0.85;
}

.nation-tri {
    /* width: 25px; */
    opacity: 0;
    /* height: 18px; */
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #2f2f2f;
    /* border: 1px solid #000; */
    margin: 0 auto;
    position: relative;
    /* transform: rotate(45deg); */
    top: 19px;
    /* background: url(./images/tri-bg.png) no-repeat; */
    /* background-size: contain; */
    z-index: 400;
}

.nation-tri.appear {
    opacity: 1;
}

.nation-tri-bg {
    opacity: 0;
    height: 5px;
    margin: 0 auto 0 auto;
    /* background: #fff; */
    position: relative;
    z-index: 1000000;
    width: 25px;
    position: relative;
    top: 11px;
    display: none;
}

.nation-tri-bg.appear {
    opacity: 1;
}

.nation-tri .bg {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
}

.nation-submenu {
    position: absolute;
    top: 100px;
    z-index: 300;
    left: 0;
    width: 100%;
    border-radius: 18px;
    /* height: 40px; */
    background: #fff;
    display: none;
    border: 3px solid #000;
}

.nation-submenu li {
    text-align: left;
    width: 100% !important;
}

.nation-submenu ul {
    margin: 0;
    /* width: 50%; */
}

.nation-submenu ul li {
    display: block;
}

.enlarge-video-div {
    /* display: none; */
    display: none;
}

.fullscreen.enlarge-video-div {
    display: block;
}

.video-js .vjs-tech {}

.video-img-div-small {
    height: 183px;
    /* background: #000 url(./images/still-thumbnail.jpg); */
    margin: 0 !important;
    padding: 0 !important;
    background-size: cover;
}

.lvjs-fullscreen-control.vjs-control.vjs-button {
    display: none !important;
}

.vls-video-1
/* ,.video-js video */

{
    width: 100% !important;
    height: 183px !important;
    position: relative;
    z-index: 10;
}

.vls-video-1 .vjs-big-play-button {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: #2b333f;
    background-color: rgb(242 185 68 / 77%);
    border-radius: 50px;
    transition: all 0.4s;
}

.vls-video-1 .vjs-big-play-button {
    line-height: 1.7em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vls-video-3 .vjs-big-play-button {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: #2b333f;
    background-color: rgb(242 185 68 / 77%);
    border-radius: 50px;
    transition: all 0.4s;
}

.vls-video-3 .vjs-big-play-button {
    line-height: 1.7em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-detail-right-col .vls-video-2 .vjs-big-play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-detail-right-col .banner-title {
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 0 10px 0;
    text-decoration: none;
}

.product-detail-right-col .banner-title.blue-bg {
    background: #006cba;
}

.product-detail-right-col .banner-title.yellow-bg {
    background: #ffb300;
}

.product-detail-right-col .banner-title.green-bg {
    background: #39cea7;
}

.product-detail-right-col .small-banner {
    margin: 0 0 20px 0;
    display: block;
    width: 100%;
    text-decoration: none;
}

.product-detail-right-col .small-banner img {
    width: 100%;
}

.vls-video-2 .vjs-big-play-button {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: #2b333f;
    background-color: rgb(242 185 68 / 77%);
    border-radius: 50px;
    transition: all 0.4s;
}

.vls-video-2 .vjs-big-play-button {
    line-height: 1.7em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    content: '\f108';
}


/* .video-js .vjs-enlarge .vjs-icon-placeholder:before {
    content: '\f108';
} */

.video-img-div {
    display: block;
    width: 100%;
    height: 100%;
    /* max-width: 611px; */
    margin: 0 auto;
    position: relative;
}

.video-img-div .vls-video-1 {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
}

.dummy {
    opacity: 0;
    width: 100%;
}

.pause-txt {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    top: 75px;
}

.mobile-search-icon {
    height: 35px;
}

.mobile-menu-btn-icon {
    height: 35px;
}

.mobile-left-nav-li {}

.mobile-left-nav-li ul {
    padding: 0;
    margin: 0;
}

.mobile-left-nav-li ul li {
    margin: 0 7px;
    display: inline-block;
}

.foot-bg-div {
    margin-top: 1rem;
}

.pt-div {
    display: inline-block;
    /* margin: 4px 0 0 0; */
}

.product-detail-table .pt-div img {
    height: 20px;
    position: relative;
    top: -3px;
}

.product-detail-table .att {
    /* padding: 0 10px 10px 0; */
    padding: 0px 0 0 0;
    width: 100px;
}

.product-detail-table .abb {
    padding: 0 0 10px 0;
}

.product-detail-table td {
    /* padding: 0 0 20px 0; */
    vertical-align: top;
}

.mobile-left-nav-li {
    display: none !important;
}

.cate-foto-2 {
    float: right;
    height: 125px;
}

.want-to-buy-div {
    border: none;
    margin: 30px 0 0 0;
    /* border-top: 6px solid #ffb300; */
}

.vls-video-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vls-video-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile-menu-div {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    z-index: 3000;
    border-right: 1px solid #000;
}

.mobile-menu-div .logo {
    width: 210px;
    height: auto;
}

.mobile-menu-div .logo-div {
    border-bottom: 1px solid #000;
}

.mobile-menu-container {
    display: block;
}

.mobile-menu-container a {
    text-decoration: none;
    color: #000;
}

.mobile-menu-container ul {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.login-icon {
    height: 30px;
}

.mobile-menu-container ul li {
    list-style-type: none;
    position: relative;
}

.mobile-menu-container ul li.level-2-li {
    margin: 0 0 0 10px;
}

.mobile-menu-container ul li a {
    display: block;
    margin: 5px 0 5px 0;
}

.mobile-menu-container ul li a.level-1 {
    position: relative;
    padding: 5px 0 5px 0;
}

.mobile-menu-container ul li a.arrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    display: block;
    width: 32px;
    height: 32px;
    background: url(./images/down-arrow.png) no-repeat center center;
    background-size: 13px;
    transition: 0.2s all;
}

.mobile-menu-container ul li a.arrow.active {
    transform: rotate(180deg);
}

.mobile-menu-container ul {
    margin: 0 0 0 0;
}

.mobile-menu-container ul ul {
    display: none;
}

.search-input-2-close-btn {
    display: block;
}

.search-input-2-close-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: url(./images/close-btn.png) center center no-repeat;
    background-size: 10px 10px;
}

.mobile-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #000; */
    z-index: 2000;
    display: none;
}

.brand-img-a {
    display: table;
    margin: 0 0 10px 0;
}

.profile-side-menu li img,
.favorite-side-menu li img {
    height: 45px;
    display: none;
}

.nation-container ul {
    margin: 0;
    padding: 0;
    /* list-style-type: none; */
}

.nation-container ul li {
    list-style-type: none;
}

.nation-container ul li a {
    text-decoration: none;
    color: #000;
}

.product-list-ul li {
    position: relative;
    display: inline-block;
    width: 16%;
    list-style-type: none;
    border: none;
    border-right: 1px solid rgb(0 0 0 / 40%);
}

.product-list-ul-col5.product-list-ul li {
    width: 24%;
}

.product-list-ul .product-div-1 {
    border: none;
}

.product-list-ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.product-list-sort-select {
    border: none !important;
    /* margin: 0 5% 0 0; */
}

.product-list-sort-select:focus {
    box-shadow: none;
}

.heart-icon {
    position: relative;
    left: -3px;
    top: -1px;
}

.product-img-a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 100%;
}

.hover-layer-product-detail-btn {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hover-layer-product-detail-btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .limited-quantity {
        font-size: 14px;
    }
}

@media screen and (min-width: 995px) and (max-width: 1400px) {
    .cart-btn {
        /* background: #006cba url(./images/cart-icon2.png) no-repeat 10% center; */
        background-size: auto 48%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .cart-btn-2 {
        font-size: 13px;
    }
}

@media (min-width: 1400px) {
    .product-list-ul.product-list-ul-col6 .product-li:nth-child(6n + 6) {
        border: none;
    }
    .product-list-ul.product-list-ul-col5 .product-li:nth-child(5n + 5) {
        border: none;
    }
}

@media (max-width: 1400px) {
    .product-list-ul li {
        width: 24% !important;
    }
    .product-list-ul .product-li:nth-child(4n) {
        border: none;
    }
}

@media (max-width: 1200px) {
    .ribbon-subtitle {
        margin: 10px 0 0 0;
    }
    .flag-col {
        width: 100%;
    }
    .categories-div {
        position: relative;
        max-width: 476px;
        margin: 0 auto;
        display: none;
    }
    .sticky.categories-div-wrapper {
        display: none !important;
    }
    .foot-bg .product-div-1 {
        padding: 12px;
    }
    .mobile-search {
        /* display: block; */
        position: absolute;
        top: 48px;
        background: #fff;
        z-index: 100;
        border: 1px solid;
        padding: 10px 20px;
        width: 97%;
    }
    .right-nav .submenu,
    .search-nav .submenu {
        top: 48px;
    }
    .address-div {
        padding-bottom: 85px;
    }
    .address-div-btn {
        position: unset;
    }
    .set-default-address-btn {
        position: absolute;
        bottom: 20px;
        left: 12px;
    }
    .address-div-btn-a-pen {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .address-div-btn-a-bin {
        position: absolute;
        bottom: 27px;
        right: 20px;
    }
    .black-line {
        display: none;
    }
    .breadcrumb {
        /* display: none; */
    }
    .enlarge-video-div {
        display: block;
    }
    .cate-foto-2-div {
        display: table-cell;
    }
    .want-to-buy-div.orange-border {
        border-top: 6px solid #ffb300;
    }
    .want-to-buy-div.green-border {
        border-top: 6px solid #00d4b1;
    }
    .want-to-buy-div.blue-border {
        border-top: 6px solid #006cba;
    }
    .mobile-left-nav-li {
        display: block !important;
    }
    .want-to-buy-row .right-div {
        width: 100%;
        margin: 0 0 0 0;
        /* max-width: 1024px; */
        /* vertical-align: middle; */
    }
    .cart-btn-2 {
        font-size: 14px;
        margin: 0 auto 20px auto;
    }
    .want-to-buy-product-img {
        display: none;
    }
    .foot-bg-div {
        margin-top: 0px;
    }
    .logo {
        width: 260px;
        height: auto;
    }
    .logo-li {
        position: absolute;
        top: 4px;
        left: 0;
        width: 100%;
        z-index: -10;
    }
    .right-nav-txt {
        display: none;
    }
    .right-nav-li {
        float: right;
        width: auto;
    }
    .search-nav {
        display: none !important;
    }
    .search-nav .hot-search-div {
        /* dis */
    }
    .search-nav input {
        /* display: none; */
    }
    .categories-div li {
        width: 25%;
    }
    .mobile-left-nav-li {
        float: left;
        position: relative;
        z-index: 200 !important;
    }
    .video-player-col-div {
        display: none;
    }
    .small-banner-container-wrapper {
        margin: 0;
    }
    .small-banner-video-ul {
        display: none;
    }
}

@media (max-width: 991px) {
    .video-player-col-div.mobile {
        display: block;
        width: 100%;
    }
    .video-player-col-div.mobile .foot-bg {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    .video-img-div.mobile {
        display: block;
        width: 100%;
    }
    /* .categories-div-wrapper {
        display: none;
    } */
    .product-list-ul.product-list-ul-col6 {
        margin: 10px 0 0 0;
    }
    .sticky.categories-div-wrapper {
        display: none !important;
    }
    .product-detail-info-col {
        padding: 0;
    }
    h1.product-name {
        margin: 10px 0 10px 0;
    }
    .less-quantity-label {
        opacity: 0;
    }
    .mobile-less-quantity-label.less-quantity-label {
        opacity: 1;
        font-size: 16px;
        margin: 0 0 0px 0;
        position: relative;
        top: -3px;
        left: 10px;
        padding: 5px 10px;
    }
    .slick-dots {
        z-index: 100;
        bottom: -25px !important;
    }
    .profile-side-menu ul {
        display: table;
    }
    .favorite-side-menu {
        display: table;
    }
    .favorite-side-menu-ul li {
        width: auto !important;
        /* padding: 0 10px !important; */
        font-size: 14px !important;
    }
    .subtotal-li {
        display: none !important;
    }
    .more-dot-btn-a-wrapper-li {
        display: none !important;
    }
    .cart-product-list .mobile-icon-ul {
        display: inline-block;
    }
    .cart-product-list ul {
        width: 100%;
        margin: 0 auto 40px auto !important;
    }
    .cart-product-list ul li .mobile-hide {
        display: none;
    }
    .cart-product-list .product-name-li {
        width: 82%;
    }
    .cart-product-list ul li {
        display: inline-block;
        position: relative;
    }
    .breadcrumb {
        padding: 10px 0 0 0;
    }
    .mobile-product-slide {
        display: block !important;
        margin: 10px 0 50px 0 !important;
    }
    .product-detail-right-col {
        display: none !important;
    }
    .product-list-sort-select {
        /* display: none !important; */
    }
    .product-list-sort-ul {
        display: block;
    }
    .brand-img-a {
        width: 100%;
    }
    .breadcrumb span {
        display: inline-block;
        margin: 0 0 0 3px;
    }
    .breadcrumb .reg-icon {
        display: inline-block;
        position: relative;
        top: -1px;
    }
    .breadcrumb .home-txt {
        display: none;
    }
    .profile-side-menu h1,
    .favorite-side-menu h1 {
        border-bottom: 1px solid;
        padding: 0 0 10px 0;
        margin: 30px 0 20px 0;
    }
    .profile-side-menu li.logout-li,
    .favorite-side-menu li.logout-li {
        display: none;
    }
    .favorite-side-menu ul {
        text-align: left;
        display: table;
        margin: 0 0 20px 0;
    }
    .profile-side-menu ul {
        display: table;
        /* margin: 0 auto; */
        /* border: 1px solid; */
        margin: 0 0 20px 0;
        /* width: fit-content !important; */
    }
    .profile-side-menu li,
    .favorite-side-menu li {
        display: inline-block;
        font-size: 14px;
        text-align: center;
        width: auto;
        margin: 0 20px 0 0;
    }
    .profile-side-menu li img,
    .favorite-side-menu li img {
        display: block;
        margin: 0 auto 5px auto;
    }
    .nation-submenu li {
        width: 100% !important;
    }
    .show-items-div {
        line-height: 2.4;
        /* padding: 0 0 0 5%; */
    }
    .product-list-sort-select {
        border: none !important;
        margin: 0 5% 0 0;
    }
    .product-list-ul li {
        width: 49% !important;
    }
    .nation-container {
        max-width: 90% !important;
    }
    .product-list-ul .product-li:nth-child(2n) {
        border: none;
    }
    .market-banner-video-container {
        width: 100%;
        max-width: inherit;
    }
    .market-banner-video-row {
        width: auto;
    }
    .market-video-div {
        padding: 0;
        margin: 0 auto;
    }
    .market-banner-div {
        padding: 0;
    }
    .nation-container {
        max-width: 476px;
    }
    .nation-tri {
        top: 6px;
    }
    .nation-tri-bg {
        top: -2px;
        /* background: #000; */
    }
    .categories-div {
        position: relative;
        max-width: 476px;
        margin: 0 auto;
    }
    .cart-btn {
        /* display: none; */
        padding: 5px;
    }
    .favorite-content-div .cart-btn {
        display: block;
    }
    .product-detail-info-col .cart-btn {
        display: block;
    }
    .footer-menu-1 li {
        display: block;
        border: none;
        margin: 0 0 10px 0;
    }
    .footer-menu-1 li a {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .cart-product-list .product-name-li {
        width: 75%;
    }
    .bottom-show-items-div {
        padding: 0;
        text-align: center;
    }
    .new-address-form br {
        display: none;
    }
    .gender-list-div {
        /* margin: 10px 0 0 0; */
    }
    .new-address-form .small {
        max-width: 0 0 0 10px;
    }
    .new-address-form input,
    .new-address-form select {
        /* margin: 10px 0 10px 0; */
    }
}

@media (max-width: 520px) {
    .top-nav-ul li.account-login-li,
    .top-nav-ul li.favorite-li,
    .top-nav-ul li.mobile-search-li {
        display: none;
    }
    .cart-btn-2 {
        font-size: 14px;
        padding: 5px;
    }
    .recommend-rate .pt {
        height: 14px;
        margin: 0px 1px 0 0;
        float: left;
        position: relative;
        top: 2px;
    }
    .product-div-1 {
        padding: 0 15px;
    }
    .cart-product-list ul li {
        display: table-cell;
        vertical-align: top;
        padding: 0 10px 0 0;
    }
    .cart-product-list ul li:nth-child(n + 3) {
        display: none;
    }
    .product-div-1 .product-name {
        font-size: 15px;
    }
    .product-div-1 .product-set {
        font-size: 13px;
    }
    .recommend-rate {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    /* .product-list-ul {
        margin: 20px 0 0 0;
    } */
    .profile-side-menu ul {
        width: fit-content !important;
        text-align: left;
        display: inherit;
        padding: 0 10px;
    }
    .profile-side-menu li,
    .favorite-side-menu li {
        font-size: 9px;
        /* border: 1px solid; */
        display: inline-block;
        width: 32%;
        font-size: 14px;
        margin: 0 20px 15px 0;
    }
    .profile-side-menu li:last-child,
    .favorite-side-menu li:last-child {
        margin: 0;
    }
    .limited-quantity {
        font-size: 11px;
    }
    .recommend-rate .pt {
        height: 13px;
        margin: 0px 0px 0 0;
        float: left;
        position: relative;
        top: 2px;
    }
    .foot-bg .product-div-1 {
        padding: 8px;
    }
    .cart-btn-2 {
        font-size: 14px;
        padding: 3px;
    }
    .favorite-content-div .cart-btn {
        display: none;
    }
    .favorite-content-div .cart-btn.mobile {
        display: block;
        font-size: 14px;
        padding: 5px;
        /* width: auto; */
        position: absolute;
        width: auto;
        bottom: 0;
    }
    .favorite-content-div .cart-btn.mobile img {
        height: 15px;
    }
    .favorite-content-div .product-list-ul li {
        display: block;
        width: 100% !important;
        border: none;
    }
    .favorite-content-div .mobile-table-div {
        display: table;
        width: 100%;
    }
    .favorite-content-div .product-div-1 {
        padding: 0 30px 0 5px;
    }
    .favorite-content-div .product-list-ul li .product-img-wrapper {
        display: table-cell;
        width: 40%;
        padding: 0 20px 0 0;
        /* margin: 10px 0 0 0; */
    }
    .favorite-content-div .product-list-ul li .product-info-right {
        display: table-cell;
        vertical-align: top;
        width: 60%;
    }
    .bottom-show-items-div {
        padding: 0;
        text-align: center;
    }
    .gender-button {
        padding: 6px 4px;
    }
    .mobile-left-nav-li ul li {
        margin: 0 2px;
    }
    .right-nav li {
        margin: 0 2px;
    }
    .logo {
        width: 260px;
        height: auto;
    }
    .product-list-ul li .form-check-input {
        position: absolute;
        top: 45%;
        right: 0px;
    }
    .yellow-share-icon-a {
        position: absolute;
        top: 0;
        right: 4px;
    }
    .bin-btn-a {
        position: absolute;
        bottom: 7px;
        right: 2px;
    }
}